# Escludi file di sistema macOS
.DS_Store

# Escludi file .csv
*.csv

# Escludi file .json
*.json

# Escludi jupyter notebooks checkpoints
.ipynb_checkpoints

# Escludi cache di Python
__pycache__

# Escludi modifiche alle impostazioni personali
loot_quotes_bot/private_settings.py
